#root {
    display: flex;
    flex-direction: column;
}

.header-links a{
    text-decoration: none;
    color: #E5E7EB;

}

.top-side{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;

}

.header,
.hero {
    margin: 0 12em;
}


.header {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.logo-text{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}


.header-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    font-size: 18px;
    gap:24px;

}

.hero {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap:8px;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 450px;
}

button {
    width: 100px;
    height: 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 800;
    border: none;
    border-radius: 6px;
}

.pop-up button {
    border: 2px #F9FAF8 solid;
}

.hero h1 {
    margin:0;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    max-width: 350px;

}

.hero p {
    margin:0;
    color: #E5E7EB;
    font-size: 18px;

}

.hero-logo {
        width: 700px;
        height: 300px;
    }

.mid-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-information {
    margin-top: 75px;
    margin-bottom: 150px;

}

.random-information h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin:0;
    text-align: center;
    margin-bottom: 25px;
}

.all-boxes {
    display: flex;
    text-align: center;
    gap: 48px;
    flex-wrap: wrap;
}

.box-text {
    max-width: 150px;
    color: #1F2937;
    font-size: 14px;
}

.box {
    box-sizing: border-box;
    border: #3882F6 2px solid;
    border-radius: 18px;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
}

.box-text img {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-radius: 18px;
    border: none;
}

.qufa {
    display: flex;
    justify-content: center;
    align-self: stretch;
    background-color: #E5E7EB;
    padding: 120px 0px;
}

.quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.quotes > p {
    margin: 0;
    align-self: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    max-width: 800px;
}

.quotes .quote-person {
    margin: 0;
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
}

.pop-up {
    box-sizing: border-box;
    align-self: center;
    width: 1000px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
    margin: 120px 0;
}

.pop-up-text h3 {
    margin: 0 0 8px 0;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.pop-up-text p {
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    height: 80px;
}